# ---  DATABASE ---
POSTGRES_DB= # Your DB name
POSTGRES_USER= # Username
POSTGRES_PASSWORD= # Password
POSTGRES_HOST= # Probably "db"
POSTGRES_PORT=5432 # Or another valid option, if conflicting

# --- REDIS ---
REDIS_URL= # Probably redis://redis:6379/0

# --- DJANGO SETTINGS ---
DJANGO_SECRET_KEY= # Django key, better be enclosed in double quotes
DJANGO_DEBUG= # Django debug status
DJANGO_ALLOWED_HOSTS= # nginx,web,127.0.0.1,0.0.0.0, and the domain itself

# --- CLOUDFLARE ---
CLOUDFLARED_TOKEN= # A token.

# --- TELEGRAM BOT ---
BOT_TOKEN= # Bot key
BOT_API_KEY= # Randomly generated security key
BOT_API_URL= # Probably http://web:8000/api/bot/
BOT_STORAGE_ID= # Get negative number ID of private channel created for storing files

# --- FILES ---
# This limit is managed by Telegram API
# Documented in https://docs.python-telegram-bot.org/en/stable/telegram.bot.html#telegram.Bot.send_voice
# At "Note" see "no more than % MB in size"
CURRENT_TELEGRAM_LIMIT_MB=1 # Or hopefully more, if updated

# This is a maximum filesize if bypassed telegram restriction
# Sadly, it does not change telegram behaviour
MAX_FILESIZE_MB=20 # You probably dont need more cuz it's useless
VITE_MAX_FILESIZE_MB=20 # Same as MAX_FILESIZE_MB
